:root {
  --bg-color: #F5F7FA;
  --navbar-bg-color: #e6f5f3;
  --card-color: #F0F2F5;
  --input-color: #dff3f1;
  --text-color: #111827;
  --heading-color: #e848f9;
}

[data-theme="dark"] {
  --bg-color: #0f172a;
  --navbar-bg-color: #020617;
  --card-color: #1e293b;
  --input-color: #334155;
  --text-color: #e5e7eb;
  --heading-color: #e848f9;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: min-content;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.active {
  background: transparent;
  border-bottom: 2px solid #2563eb;
}